[Desktop Entry]
Type=Application
Name=BTOP
Terminal=false
Icon=system
Exec=alacritty --class floating_terminal -e btop
Categories=System;
Encoding=UTF-8
Keywords=Tools;System

