[Desktop Entry]
Type=Application
Name=Ranger
Terminal=false
Icon=applications-system
Exec=alacritty --class floating_terminal --title ranger -e ranger
Categories=Accessories;
Encoding=UTF-8;
Keywords=Utilities;Explorer;


