[Desktop Entry]
Name=GOG Galaxy
Exec=bottles-cli run -p 'GOG Galaxy' -b 'StackBrowser' -- %u
Type=Application
Terminal=false
Categories=Application;
Icon=/home/florent/.local/share/bottles/bottles/StackBrowser/icons/gog.svg
Comment=Launch GOG Galaxy using Bottles.
StartupWMClass=GOG Galaxy
Actions=Configure;
[Desktop Action Configure]
Name=Configure in Bottles
Exec=bottles -b 'StackBrowser'
